.git
.gitignore
.idea
.vscode
.fallow
.github

.env
phpunit.xml
phpunit.dist.xml

vendor
build
node_modules

writable/cache/*
!writable/cache/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/debugbar/*
!writable/debugbar/index.html

tests/coverage*
evaluasi_silhouette.ipynb
*.log
*.md
README.md
AGENTS.md
REQUIREMENTS.md

docker-compose.override.yml